.mybtn button{
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  }

  .card{
    border:2px solid tranparent;
    border-top:3px solid #f39c12;
    padding-top:5px;
  }
  p{
    margin-bottom:5px;
  }
  hr{
    margin-top:0px;
  }
