<h4>استقبال التلاميذ </h4>
<div class="card">
  <div class="card-body">
    <p>معايير البحث</p><hr>
    <div class="row">
      <div class="col-4">
        <label for="myselect">الأكاديمية : </label>
        <select class="form-control"  id='academies' (change)="settFiltreActive($event.target)" >
          <option *ngFor="let academie of myacademies"  >{{academie}}</option>
        </select>
      </div>
      <div class="col-4">
        <label for="myselect">م.الاقليمية : </label>
        <select class="form-control" id='directions' (change)="settFiltreActive($event.target)" >
          <option></option>
          <option *ngFor="let direction of mydirections"  >{{direction}}</option>
        </select>
      </div>
      <div class="col-4">
        <label for="myselect">الجماعة : </label>
        <select class="form-control" id='communes' (change)="settFiltreActive($event.target)" >
          <option></option>
          <option *ngFor="let commune of mycommunes"  >{{commune}}</option>
        </select>
      </div>


      <div class="col-4">
        <label for="myselect">المؤسسة : </label>
        <select class="form-control"  id='ecoles' (change)="settFiltreActive($event.target)" >
          <option></option>
          <option *ngFor="let ecole of myecoles"  >{{ecole}}</option>
        </select>
      </div>
      <div class="col-4">
        <label for="myselect">السلك : </label>
        <select class="form-control" id='cycles' (change)="settFiltreActive($event.target)" >
          <option *ngFor="let cycle of cycles"  >{{cycle}}</option>
        </select>
      </div>
      <div class="col-4">
        <label for="myselect">رقم التلميذ : </label>
        <input type="text" class="form-control" id='nmassar' #nmassar  >
      </div>

    <div class="mybtn col-12">
      <button  class="btn-primary" style="float: left;height: 35px;margin-top: 28px;"
      (click)="find(nmassar.value)"> بحث <i class="fa fa-search" ></i></button>
    </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" >
<app-mytab [myarray]="arraytab"  (indexTab)="indexTab($event)" ></app-mytab>
<app-smarttable [data]="dataview"
[newKeysnames]="{
  gresa: 'الرمز',
  ecole: 'المؤسسة',
  direction :'م.الاقليمية',
  commune : 'الجماعة',
  nbrpartants:'عدد المغادرين',
  dtransfert: 'تاريخ اخر تحويل',
  addlink: {name: 'عرض التحويلات', path: ''}
  }"
[maxview]="20"></app-smarttable>
  </div>
</div>
