#myheader{
  position: relative;
  color:#f6f6f6;
  background-color: #0083c9;
}
.itembar{
  background-color: transparent;
  color: #f6f6f6;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.itembar:hover{
  cursor: pointer;
  background-color: #038fc7;
}
#mymenu{
  position: absolute;
  top: 0;
  right:0;
  z-index: 20;
   width: 270px;
   height: 2000px;
   background-color: #001c31;
   color:#b8c7ce ;
   padding-right: 9px;
}
#logo{
  width: 260px;
  display:block;
  text-align: center;
  background-color: white;
}
#logo img{
  width: 200px;
  text-align: center;
}
