
#tabledate th,#tabledate td, .bt{
  width: 20px;
  height: 15px;
  color: rgb(156, 156, 156);
}
#tabledate th, #tabledate td, .bt, .cbt{
  text-align: center;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

#tabledate th{
  color: black;
}

#tabledate .now{
color:rgb(63, 63, 63);
background-color:#ffdb99;
border-color:#ffb733;
}

#tabledate .new{
  color: #333;
}
#tabledate td:hover,#tabledate .bt:hover,#tabledate .cbt:hover{
  background-color: lightgray;
  cursor: pointer;
}

#tabledate{
  position : absolute;
  left: 0;
  background-color: white;
  border:2px solid transparent;
  z-index: 3000;
}
 table td, table th {
  padding: 6px;
  vertical-align: top;
  border-top: 0px;
  background-color: white;
}
