
          <div class="row">
              <div class="col-md-6 form-group">
                      <label>رمز التلميذ :</label>
                          <label class="form-control">{{eleve.nmassar}}</label>
                  <div class="form-group w-100">
                      <label>وضعية التلميذ : </label>
                          <label class="form-control">{{eleve.situation}}</label>
                  </div>

              </div>
              <div class="col-md-6 ">
                  <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <img class="img-circle"  [src]="eleve.image">
                  </div>
                  <div class="col-md-4 ">
                    <input style="display: none" type="file"
                    (change)="onFileChanged($event)"#fileInput>
                      <div class="myimg" (click)="fileInput.click()" > تحميل الصورة </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6 form-group">
                  <label>الاسم  العائلي بالعربية :</label>
                  <input class="form-control" type="text" [(ngModel)]="eleve.arnom" >
              </div>
              <div class="col-md-6 form-group">
                  <label>الاسم  الشخصي بالعربية :</label>
                  <input  class="form-control"   type="text" [(ngModel)]="eleve.arprenom"  >
              </div>

              <div class="col-md-6 form-group">
                  <label>الإسم بالفرنسية :</label>
                  <input class="form-control"    type="text" [(ngModel)]="eleve.nom" >
              </div>
              <div class="col-md-6 form-group">
                  <label>النسب بالفرنسية :</label>
                  <input class="form-control" type="text" [(ngModel)]="eleve.prenom" >
              </div>
              <div class="col-md-6 form-group">
                    <label>تاريخ الازدياد :</label>
                    <input class="form-control" type="text" [(ngModel)]="eleve.dnaissance" >
              </div>

              <div class="col-md-6 mt-25">
                    <label class="radio control-label">النوع :</label>
                    <input type="radio" name='g' [(ngModel)]="eleve.genre" value="ذكر"> ذكر
                    <input type="radio" name='g'  [(ngModel)]="eleve.genre" value="أنثى"> انثى
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 form-group">
                      <label>مكان الازدياد بالعربية :</label>
                          <textarea [(ngModel)]="eleve.arlieunaissance" class="form-control">{{eleve.arlieunaissance}}</textarea>
              </div>
              <div class="col-md-6 form-group">
                      <label>مكان الازدياد  بالفرنسية :</label>
                      <textarea [(ngModel)]="eleve.lieunaissance" class="form-control">{{eleve.lieunaissance}}</textarea>
              </div>

              <div class="col-md-6 form-group">
                      <label>العنوان :</label>
                      <textarea class="form-control"> </textarea>
              </div>
              <div class="col-md-6 mt-25">
                      <label class="radio control-label">الجنسية :</label>
                      <input type="radio" name='n' [(ngModel)]="eleve.nationalite" value="M">مغربية
                      <input type="radio" name='n' [(ngModel)]="eleve.nationalite" value="A"> اخرى
              </div>
              <div class="col-md-6 form-group">
                    <label>ر.ب.ت.و :</label>
                    <input type="text" class="form-control">
              </div>
              <div class="col-md-6 form-group">
                <label>نوع الاعاقة :</label>
                 <select class="form-control" [(ngModel)]="eleve.typeandicape">
                 <option></option>
                 <option value="إعاقة حركية">إعاقة حركية</option>
                 <option value="إعاقة ذهنية">إعاقة ذهنية</option>
                 <option value="الصم والبكم"> الصم والبكم</option>
                 <option value="المكفوفون">المكفوفون</option>
                 <option value="التوحد">التوحد</option>
                 <option value="اضطرابات التعلم">اضطرابات التعلم</option>
                 </select>
             </div>

<div class="col-md-6  form-group">
   <label>جاء من :</label>
<select class="form-control" [(ngModel)]="eleve.arrivede">
<option value=''></option>
<option value="التعليم الاولي العصري">التعليم الاولي العصري</option>
<option value="التعليم الخاص">التعليم الخاص</option>
<option value="التعليم الغير النظامي">التعليم الغير النظامي</option>
<option value="دولة أخرى">دولة أخرى</option>
<option value="باستعطاف">باستعطاف</option>
<option value="التعليم الاولي التقليدي">التعليم الاولي التقليدي</option>
</select>
</div>
<div class="col-md-6 form-group">
    <label>البلد الاصلي :</label>
    <select class="form-control">
    <option></option>
    <option value="1">فرنسا</option>
    <option value="2">الجزائر</option>
    <option value="3">إيطاليا</option>
    <option value="4">أفغانستان</option>
    <option value="5">جنوب أفريقيا</option>
    <option value="6">ألبانيا</option>
    <option value="7">ألمانيا</option>
    <option value="8">أندورا</option>
    <option value="9">أنغولا</option>
    <option value="10">أنغويلا</option>
    <option value="11">أنتاركتيكا</option>
    <option value="12">أنتيغوا وبربودا</option>
    <option value="13">المملكة العربية السعودية</option>
    <option value="14">الأرجنتين</option>
    <option value="15">أرمينيا</option>
    <option value="16">أروبه</option>
    <option value="17">أستراليا</option>
    <option value="18">النمسا</option>
    <option value="19">أذربيجان</option>
    <option value="20">الباهاماس</option>
    <option value="21">البحرين</option>
    <option value="22">بنغلاديش</option>
    <option value="23">روسيا البيضاء</option>
    <option value="24">بلجيكا</option>
    <option value="25">بيليز</option>
    <option value="26">بنين</option>
    <option value="27">جزر برمودا</option>
    <option value="28">بوتان</option>
    <option value="29">بوليفيا</option>
    <option value="30">البوسنة و الهرسك</option>
    <option value="31">بوتسوانا</option>
    <option value="32">البرازيل</option>
    <option value="33">بروني</option>
    <option value="34">بلغاريا</option>
    <option value="35">بوركينا فاسو</option>
    <option value="36">بوروندي</option>
    <option value="37">كمبوديا</option>
    <option value="38">كاميرون</option>
    <option value="39">كندا</option>
    <option value="40">شيلي</option>
    <option value="41">جمهورية الصين الشعبية</option>
    <option value="42">قبرص</option>
    <option value="43">الفاتيكان</option>
    <option value="44">كولومبيا</option>
    <option value="45">جزر القمر</option>
    <option value="46">جمهورية الكونغو</option>
    <option value="47">كوريا الجنوبية</option>
    <option value="48">كوريا الشمالية</option>
    <option value="49">كوستاريكا</option>
    <option value="50">ساحل العاج</option>
    <option value="51">كرواتيا</option>
    <option value="52">كوبا</option>
    <option value="53">الدانمارك</option>
    <option value="54">جيبوتي</option>
    <option value="55">دومينيكا</option>
    <option value="56">مصر</option>
    <option value="57">إلسلفادور</option>
    <option value="58">الإمارات العرب</option>
    <option value="59">إكوادور</option>
    <option value="60">إسبانيا</option>
    <option value="61">استونيا</option>
    <option value="62">الولايات المتحدة</option>
    <option value="63">أثيوبيا</option>
    <option value="64">فيجي</option>
    <option value="65">فنلندا</option>
    <option value="66">الغابون</option>
    <option value="67">غامبيا</option>
    <option value="68">جيورجيا</option>
    <option value="69">غانا</option>
    <option value="70">جبل طارق</option>
    <option value="71">اليونان</option>
    <option value="72">غرينادا</option>
    <option value="73">جرينلاند</option>
    <option value="74">جزر جوادلوب</option>
    <option value="75">جوام</option>
    <option value="76">غواتيمال</option>
    <option value="77">غينيا</option>
    <option value="78">غينيا - بيساو</option>
    <option value="79">غيانا</option>
    <option value="80">غويانا الفرنسية</option>
    <option value="81">المجر</option>
    <option value="82">ريونيون</option>
    <option value="83">جزر كوك</option>
    <option value="84">جزر فارو</option>
    <option value="85">جزر ماريانا الشمالية</option>
    <option value="86">جزر مارشال</option>
    <option value="87">جزر سليمان</option>
    <option value="88">الجزر العذراء البريطانية</option>
    <option value="89">الجزر العذراء الأمريكي</option>
    <option value="90">الهند</option>
    <option value="91">أندونيسيا</option>
    <option value="92">العراق</option>
    <option value="93">إيران</option>
    <option value="94">إيرلندا</option>
    <option value="95">آيسلندا</option>
    <option value="96">إسرائيل</option>
    <option value="97">جمايكا</option>
    <option value="98">اليابان</option>
    <option value="99">الأردن</option>
    <option value="100">كازاخستان</option>
    <option value="101">كينيا</option>
    <option value="102">قيرغيزستان</option>
    <option value="103">كيريباتي</option>
    <option value="104">الكويت</option>
    <option value="105">بربادوس</option>
    <option value="106">غينيا الاستوائي</option>
    <option value="107">سلوفاكيا</option>
    <option value="108">سلوفينيا</option>
    <option value="109">لاوس</option>
    <option value="110">الرأس الأخضر</option>
    <option value="111">ليختنشتين</option>
    <option value="112">تركمانستان</option>
    <option value="113">إريتريا</option>
    <option value="114">ساموا - الأمريكي</option>
    <option value="115">ليسوتو</option>
    <option value="116">لاتفيا</option>
    <option value="117">لبنان</option>
    <option value="118">ليبيريا</option>
    <option value="119">ليبيا</option>
    <option value="120">لتوانيا</option>
    <option value="121">أوزباكستان</option>
    <option value="122">لوكسمبورغ</option>
    <option value="123">ماكاو</option>
    <option value="124">مقدونيا</option>
    <option value="125">مدغشقر</option>
    <option value="126">ماليزيا</option>
    <option value="127">مالاوي</option>
    <option value="128">المالديف</option>
    <option value="129">مالي</option>
    <option value="130">مالطا</option>
    <option value="131">مارتينيك</option>
    <option value="132">المكسيك</option>
    <option value="133">مايكرونيزيا</option>
    <option value="134">الجبل الأسود</option>
    <option value="135">النيجر</option>
    <option value="136">النرويج</option>
    <option value="137">كاليدونيا الجديدة</option>
    <option value="138">عمان</option>
    <option value="139">أوغندا</option>
    <option value="140">باكستان</option>
    <option value="141">بالاو</option>
    <option value="142">فلسطين</option>
    <option value="143">بنما</option>
    <option value="144">بابوا غينيا الجديدة</option>
    <option value="145">باراغواي</option>
    <option value="146">جزر الأنتيل الهولندي</option>
    <option value="147">بيرو</option>
    <option value="148">الفليبين</option>
    <option value="149">بولونيا</option>
    <option value="150">بولينيزيا الفرنسية</option>
    <option value="151">بورتو ريكو</option>
    <option value="152">البرتغال</option>
    <option value="153">قطر</option>
    <option value="154">جمهورية أفريقيا الوسطى</option>
    <option value="155">جمهورية الكونغو</option>
    <option value="156">الجمهورية الدومينيكية</option>
    <option value="157">الجمهورية التشيكية</option>
    <option value="158">رومانيا</option>
    <option value="159">المملكة المتحدة</option>
    <option value="160">روسيا</option>
    <option value="161">رواندا</option>
    <option value="162">سانت لوسيا</option>
    <option value="163">سانت كيتس ونيفس</option>
    <option value="164">سان مارينو</option>
    <option value="165">سان فانسون</option>
    <option value="166">المناطق</option>
    <option value="167">ساو تومي وبرينسيبي</option>
    <option value="168">السنغال</option>
    <option value="169">جمهورية صربيا</option>
    <option value="170">سيشيل</option>
    <option value="171">سيراليون</option>
    <option value="172">سنغافورة</option>
    <option value="173">الصومال</option>
    <option value="174">السودان</option>
    <option value="175">سريلانكا</option>
    <option value="176">السويد</option>
    <option value="177">سويسرا</option>
    <option value="178">سورينام</option>
    <option value="179">سوازيلند</option>
    <option value="180">سوريا</option>
    <option value="181">طاجيكستان</option>
    <option value="182">تايوان</option>
    <option value="183">تنزانيا</option>
    <option value="184">تشاد</option>
    <option value="185">تايلندا</option>
    <option value="186">تبت</option>
    <option value="187">تيمور الشرقية</option>
    <option value="188">توغو</option>
    <option value="189">تونغا</option>
    <option value="190">ترينيداد وتوباغو</option>
    <option value="191">تونس</option>
    <option value="192">تركيا</option>
    <option value="193">توفالو</option>
    <option value="194">أوكرانيا</option>
    <option value="195">أورغواي</option>
    <option value="196">فانواتو</option>
    <option value="197">فنزويلا</option>
    <option value="198">فيتنام</option>
    <option value="199">اليمن</option>
    <option value="200">المغرب</option>
    <option value="201">موريتانيا </option>
    <option value="202">نيجيريا</option>
    </select>
</div>

  <div class="col-md-12">
   <button  class="btn btn-primary" (click)="save()" > حفظ <i class="fa fa-save"></i></button>
  <button   class="btn btn-primary"> طبع البيانات<i class="fa fa-print"></i></button>
</div>


