/* You can add global styles to this file, and also import other style files */
body{
  text-align: right;
  background-color: #ecf0f5;
  line-height: inherit;
  color: #1c1e20;
  height: 3000px;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;
}
.card-header{
  background-color: #0083c9;
  color: white;
}
.card{
  border:1px solid #0083c9;
  margin-bottom:20px;
}
.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-radius: 3px;
}
.card-body {
  padding: 0.4rem;
}
.btn-link {
  color: #3c8dbc;
}
.page-item.active .page-link {
  background-color: #3c8dbc;
}
